body {
    text-align:center
}

h1 {
    color: #000000;
}

h2{
    font-family:'Ariel Narrow';
    font-weight:bold;
    text-align:center;
    color:#280f55;
}
p {
    color: #000000
    /*color: #2b0e60;*/
}
h3 {
    font-family: 'Bahnschrift Light SemiCondensed';
    font: italic;
    color: #2b0e60;
}
.button {
    background-color:#532a7b;
    border: #000000;
    color: #ffffff;
    text-align: center;
}
.icons
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,5vw);
    grid-gap:15px;
}
.center-block
{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.div-grid {
    display: inline-block;
}

.div-grid label {
    display: block;
    text-align:center;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/*.jumbotron {
    background-color: #aca3d2;
    height: 100vh;
}*/

.btn-primary {
    background-color: #2b0e60;
    border: #2b0e60
}

