@{
    ViewBag.Title = "ABOUT";
}
<h2>@ViewBag.Title</h2>


<p>
    Medistock, provides a booking system for a network of hospitals or pharmacies in dire need of medicines/drugs or equipment. 
    We try to make it easier for medical staff in rural areas or those that are facing any equipment or drug shortages during an emergency. 
    This application makes it easier to scout through various nearby medical facilities for your requirements.
    
    We understand how important it is that these are delivered in a timely manner, and we, along with our well-devoted logistics team make sure that we've always got your back.
</p>
