@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title.</h2>

<address>
    MediStock<br />
    1457 North Road, VIC 3167<br />
    <abbr title="Phone">P:</abbr>
    +61 458353979
</address>

<address>
    <strong>Support:</strong>  <a href="mailto:Support@medistock.com">support@medistock.com</a><br />
</address>