@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title.</h2>

<address>
    MediStock<br />
    1457 Nort Road, VIC 3168<br />
    <abbr title="Phone">P:</abbr>
    +61 458353973
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@medistock.com">Support@medistock.com</a><br />
</address>