@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title</h2>

<address>
    MediS+ock<br />
    1457 North Road, VIC 3167<br />
    <abbr title="Phone">P:</abbr>
    +61 458353973
</address>

<address>
    <strong>Support:</strong>  <a href="mailto:aalm0032@student.monash.edu">support@medistock.com</a><br />
</address>