@model Assignment2.Models.RegistrationViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    <div class="row" style="padding-top: 30px">
        <input type="text" name="Search" placeholder="I am looking for..." class="center-block"/>
        <input type="submit" class="btn main-btn rounded-pill center-block" name="search_btn" value="Search" />
    </div>
</div>

<div class="div-grid">
    <div>
        <label>Book Drugs</label>
        <input type="image" name="Drugs Section" src="~/icons/drug.png" alt="Submit" width="200" height="200" >
    </div>
    <div>
        <label>Add Drugs</label>
        <input type="image" name="Drugs Section" src="~/icons/drug.png" alt="Submit" width="200" height="200">
    </div>
</div>

<div class="div-grid">
    <div>
        <label>Book Equipment</label>
        <input type="image" name="Equipment Section" src="~/icons/equipment.png" alt="Submit" width="200" height="200">
    </div>
    <div>
        <label>Add Equipment</label>
        <input type="image" name="Equipment Section" src="~/icons/equipment.png" alt="Submit" width="200" height="200">
    </div>
</div>
