@{
    ViewBag.Title = "HomePage";
}

<div>
    <div class="jumbotron row align-items-center">
            <input type="text" name="Search" placeholder="I am looking for..." class="">
            <input type="submit" class="btn main-btn rounded-pill w-100 h-100" name="search_btn" value="Search"/>
    </div>
    <div class="col-lg-20 text-center">
        <div class="col-md-4">
            <input type="image" name="Drugs Section" src="~/icons/drug.png" alt="text">
        </div>
        <div class="col-md-4">
            <input type="image" name="Equipment Section" src="~/icons/equipment.png" alt="text">
        </div>
    </div>
</div>