@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>MEDIS+OCK</h1>
    <p class="lead">WE'VE ALWAYS GOT YOUR BACK</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="https://localhost:44372/Account/Login">LOGIN</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="https://localhost:44372/Registration/Create">CREATE ACCOUNT</a></p>
    </div>
 </div>