@{
    ViewBag.Title = "Home";
}

<div style="background-color: #aca3d2; text-align:center; padding-block:200px">
    <h1>MEDIS+OCK</h1>
    <p class="lead">WE'VE ALWAYS GOT YOUR BACK</p>
    <div class="row" style="padding-top: 30px">
        <div class=".button">
        <div class="col-md-4" style="padding-left: 60pt; padding-right: 60pt">
            <p><a class="btn btn-primary btn-lg" href="https://localhost:44372/Account/Login">LOGIN</a></p>
        </div>
        <div class="col-md-4"style="padding-left: 60pt; padding-right: 60pt">
            <p><a class="btn btn-primary btn-lg" href="https://localhost:44372/Account/Register">CREATE ACCOUNT</a></p>
        </div>
        </div>
    </div>
</div>