@{
    ViewBag.Title = "Home";
}

<div style="background-image: url('~/icons/homeBackground.png'); width: 100%; height: auto;">
    <h1 style="color:#000000">MEDIS+OCK</h1>
    <p class="lead">WE'VE ALWAYS GOT YOUR BACK</p>
    <div>
        <div class="btn-block" style="padding-left: 60pt; padding-right: 60pt">
            <p><a class="btn-primary btn" href="/Account/Login">LOGIN</a></p>
        </div>
        <div class="btn-block" style="padding-left: 60pt; padding-right: 60pt">
            <p><a class="btn-primary btn" href="/Account/Register">CREATE ACCOUNT</a></p>
        </div>
    </div>
</div>